*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aliceblue;
}
.container{
    display: flex;
    justify-content: center;

}
.nav{
    height: 250px;
    font-size: large;
    display: flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    outline: none;
    background: linear-gradient(20deg, rgb(31, 31, 217),rgb(17, 0, 255));
    color: rgb(255, 231, 231);
    
   
}
.video{
    overflow: hidden;
    background-clip: text;
    
}
#rock,#paper,#scissors{
    padding: 50px 50px;
    margin: 50px 50px;
    min-width: 200px;
    min-height: 200px;
    font-size: larger;
    color: rgb(196, 220, 246);
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(0, 18, 84);
    border: none;
    
}
#rock:hover,#paper:hover,#scissors:hover{
    cursor: pointer;
    border: none;
    background: linear-gradient(30deg, rgb(0, 18, 84),rgb(118, 99, 243));
    box-shadow: 2px inset black;
}
#modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50vb;
    height: 50vh;
}
.message {
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(238, 88, 24);

    
}
#close, #ok {
    padding: 10px 15px;
    cursor: pointer;

}
        
